.fc-day-grid{
    background-color: white;
    text-align: center;
    
}
.fc-unthemed td{
    border: none !important;
}
.fc-header-toolbar{
    color: white;
    background-color: #c73232;
    height: 50px;
}
.fc-button-primary{
    background-color:#c73232 !important;
    border-color: #c73232 !important;
    
}
.fc-today{
    background-color: #c73232 !important;
    color: white !important;
}

.fc-day-number{
    font-size: 25px !important;
   margin-top: 25%;
   margin-right: 37%;
}

@media only screen and (max-width: 768px) {
    .fc-day-number{
       font-size: 25px !important;
       /* margin-top: 25%; */
       /* margin-right: 37%; */
    }
    
}


